*{
    padding: 0;
    margin: 0;
    color: white;
   
}
#navbar{
    height: 60px;
    background-color:black;
    
}
button {
    background-color: black;
    padding: 20%;

}
#logo{
    color:white;
    font-size: 25px;
    background-image:url("") ;

}
a{
    margin-right: 130px;



}

    header{
        background-image: url("landingpage.jpg");
        height:100vh;
        background-size:cover;
        background-position: center;
        font-family: sans-serif;
    
}
.title{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translate(-50);
    text-align: center;
    color: black;
}
.title h1{
    color: black;
}
.title h3{

        color: black;

}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    color:whitesmoke;
    cursor: pointer;
    border: 2px solid;
    overflow: hidden;
    box-shadow: 0 0 5px cornflowerblue;
   
}
button:hover{
    box-shadow: 0 0 5px black;
}
span{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
